In [109]:
# import the neccessary dependacies we will use by default
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.preprocessing import LabelEncoder

Some insights into this project:
- The category of machine learning models that these fall into is _supervised learning_. Supervised learning is a type of machine learning where the model is trained on labeled data. The label in this case is the method of data breach.

The models that will be tested out will fall into the following category of machine learning:
* <u><b>Logistic Regression</b></u>: This is a supervised Learning that can be used to predict a categorical outcome. In this case, the categorical outcome is the method of the data breach. The features that will be used are: entity, year, records and organization type.
* <u><b>Decision Trees</b></u>: This is another supervised learning algorithm that can be used to predict a categorical outcome. Decision trees work by creating a tree-like structure that represents the relationships between the features and the outcomes.
* <u><b>Support Vector Machine(SVMs):</u></b> This is a supervised learning algorithm that can be used to predict both categorical and continous outcomes. SVMs work by finding the hyperplane that best seperates the data points into different classes.
* <u><b>Random Forests</u></b> This is an ensemble learning algorithm that combines multiple decision trees to improve the accuracy of the predictions.
* <u><b>Neural Networks</u></b> This is a more complex algorithm that can be used to predict both categorical and continuous outcomes. Neural Networks work by learning the relationships between the features and the outcome through a process called backpropogation.

In [110]:
# load the dataset(s) we will be using
csv_file_path = os.path.abspath('df_1.csv');  # get the absolute path of the CSV file
csv_file_path2 = os.path.abspath('df_2.csv')
csv_file_path3 = os.path.abspath('df_3.csv')

df = pd.read_csv(csv_file_path);   # Read the CSV file into a dataframe
df2 = pd.read_csv(csv_file_path2)
df3 = pd.read_csv(csv_file_path3)
# display the head to see if the dataset works as intended
df.head(10)  #adjust the parameter value as needed

,Unnamed: 0,Entity,Year,Records,Organization type,Method,Sources
0,0,21st Century Oncology,2016,2200000,healthcare,hacked,[5][6]
1,1,500px,2020,14870304,social networking,hacked,[7]
2,2,Accendo Insurance Co.,2020,175350,healthcare,poor security,[8][9]
3,3,Adobe Systems Incorporated,2013,152000000,tech,hacked,[10]
4,4,Adobe Inc.,2019,7500000,tech,poor security,[11][12]
5,5,Advocate Medical Group,2017,4000000,healthcare,lost / stolen media,[13][14]
6,6,AerServ (subsidiary of InMobi),2018,75000,advertising,hacked,[15]
7,7,"Affinity Health Plan, Inc.",2013,344579,healthcare,lost / stolen media,[16][17]
8,8,Airtel,2019,320000000,telecommunications,poor security,[18]
9,9,Air Canada,2018,20000,transport,hacked,[19]

In [111]:
#view the second dataset
df2.head(10)

,Unnamed: 0,Number,Name_of_Covered_Entity,State,Business_Associate_Involved,Individuals_Affected,Date_of_Breach,Type_of_Breach,Location_of_Breached_Information,Date_Posted_or_Updated,Summary,breach_start,breach_end,year
0,1,0,Brooke Army Medical Center,TX,NaN,1000,10/16/2009,Theft,Paper,2014-06-30,A binder containing the protected health infor...,2009-10-16,NaN,2009
1,2,1,"Mid America Kidney Stone Association, LLC",MO,NaN,1000,9/22/2009,Theft,Network Server,2014-05-30,Five desktop computers containing unencrypted ...,2009-09-22,NaN,2009
2,3,2,Alaska Department of Health and Social Services,AK,NaN,501,10/12/2009,Theft,"Other Portable Electronic Device, Other",2014-01-23,NaN,2009-10-12,NaN,2009
3,4,3,Health Services for Children with Special Need...,DC,NaN,3800,10/9/2009,Loss,Laptop,2014-01-23,A laptop was lost by an employee while in tran...,2009-10-09,NaN,2009
4,5,4,"L. Douglas Carlson, M.D.",CA,NaN,5257,9/27/2009,Theft,Desktop Computer,2014-01-23,A shared Computer that was used for backup was...,2009-09-27,NaN,2009
5,6,5,"David I. Cohen, MD",CA,NaN,857,9/27/2009,Theft,Desktop Computer,2014-01-23,A shared Computer that was used for backup was...,2009-09-27,NaN,2009
6,7,6,"Michele Del Vicario, MD",CA,NaN,6145,9/27/2009,Theft,Desktop Computer,2014-01-23,A shared Computer that was used for backup was...,2009-09-27,NaN,2009
7,8,7,"Joseph F. Lopez, MD",CA,NaN,952,9/27/2009,Theft,Desktop Computer,2014-01-23,A shared Computer that was used for backup was...,2009-09-27,NaN,2009
8,9,8,"Mark D. Lurie, MD",CA,NaN,5166,9/27/2009,Theft,Desktop Computer,2014-01-23,A shared Computer that was used for backup was...,2009-09-27,NaN,2009
9,10,9,City of Hope National Medical Center,CA,NaN,5900,9/27/2009,Theft,Laptop,2014-01-23,A laptop computer was stolen from a workforce ...,2009-09-27,NaN,2009

In [112]:
#we will need to rename certain columns to mathc the first dataset
#first we need to rename the columns in the second dataset to match the column name in the first dataset
df2 = df2.rename(columns={"Name_of_Covered_Entity":"Entity", "Individuals_Affected":"Records", "Type_of_Breach":"Method", "year":"Year"}, errors="raise")

In [113]:
df2.columns  #now, the changes in dataframe 2 has taken place

Index(['Unnamed: 0', 'Number', 'Entity', 'State',
       'Business_Associate_Involved', 'Records', 'Date_of_Breach', 'Method',
       'Location_of_Breached_Information', 'Date_Posted_or_Updated', 'Summary',
       'breach_start', 'breach_end', 'Year'],
      dtype='object')

In [114]:
df2.dtypes

Unnamed: 0                           int64
Number                               int64
Entity                              object
State                               object
Business_Associate_Involved         object
Records                              int64
Date_of_Breach                      object
Method                              object
Location_of_Breached_Information    object
Date_Posted_or_Updated              object
Summary                             object
breach_start                        object
breach_end                          object
Year                                 int64
dtype: object

From my exploration, I discovered that dataframe 3 and dataframe 1 are the same, so merging them would be useless, dataframe 2 is different from dataframe 1, therefore, merging them holds some value.

In [115]:
df.dtypes

Unnamed: 0            int64
Entity               object
Year                 object
Records              object
Organization type    object
Method               object
Sources              object
dtype: object

Before proceeding, we need to change the year column of df into int64 to match the year datatype of the df2 column Year.

In [116]:
#change the datatype 
df2['Year']=df2['Year'].astype(str)
df2['Records']=df2['Records'].astype(str) #change the records column into a object datatype
df2.dtypes  #review the datatypes to see if the change has taken place

Unnamed: 0                           int64
Number                               int64
Entity                              object
State                               object
Business_Associate_Involved         object
Records                             object
Date_of_Breach                      object
Method                              object
Location_of_Breached_Information    object
Date_Posted_or_Updated              object
Summary                             object
breach_start                        object
breach_end                          object
Year                                object
dtype: object

In [117]:
df = pd.merge(df, df2, how="left", on=["Entity", "Records", "Year"])

In [119]:
df.dtypes
df

,Unnamed: 0_x,Entity,Year,Records,Organization type,Method_x,Sources,Unnamed: 0_y,Number,State,Business_Associate_Involved,Date_of_Breach,Method_y,Location_of_Breached_Information,Date_Posted_or_Updated,Summary,breach_start,breach_end
0,0,21st Century Oncology,2016,2200000,healthcare,hacked,[5][6],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,500px,2020,14870304,social networking,hacked,[7],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Accendo Insurance Co.,2020,175350,healthcare,poor security,[8][9],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Adobe Systems Incorporated,2013,152000000,tech,hacked,[10],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Adobe Inc.,2019,7500000,tech,poor security,[11][12],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,347,Zynga,2019,173000000,social network,hacked,[406][407],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
348,348,Unknown agency(believed to be tied to United S...,2020,200000000,financial,accidentally published,[408],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,349,National Health Information Center (NCZI) of S...,2020,391250,healthcare,poor security,[409],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
350,350,50 companies and government institutions,2022,6400000,various,poor security,[410] [411],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
351,351,IKEA,2022,95000,retail,accidentally published,[412],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.columns # observe that the columns list has been dropped

In [ ]:
# we will need to rename the unnamed column
df.rename(columns={'Unnamed: 0' : 'Index'}, inplace=True)

Now, we combine the two dataframe using pandas.

In [ ]:
df.head()

In [ ]:
df.dtypes   # in the case of this dataframe, we have only the index as an integer datatype, whereas, everything else is considered object data

In [ ]:
# Test out the number of unique values contained in Entity
len(df['Entity'].unique())   #there's a total of 331 unique name for comapnies

Regarding the column __Entity__, there's 2 options in terms of data preprocessing:
* Drop the column altogether
* Apply Hashing

In [ ]:
import hashlib

#create a hash function
def hash_function(text):
    return hashlib.sha256(text.encode()).hexdigest()

# create a new column for the hashed values
df['hashed_Entity'] = df['Entity'].apply(hash_function)

#observe the hashed column
df.head()  # we have the hashed entity

In [ ]:
# create a copy of the dataframe and drop the Entity column 
df_copy1 = df.drop(columns={'Entity'})

In [ ]:
df_copy1

In [ ]:
len(df_copy1['Organization type'].unique())   # in terms of organization type, there's 70 different unique values
df_copy1

In [ ]:
# remove the special characters
df_copy1['Organization type'] = df_copy1['Organization type'].str.replace(',', '_')  # replace the cases of ',' with '_'.
df_copy1['Organization type'] = df_copy1['Organization type'].str.replace(' ', '_') # we also replace the cases of spacing with '_'.
df_copy1['Organization type'] = df_copy1['Organization type'].str.replace('__', '_')  # replace all instances of __ with _

Before encoding the organization type, I've copied the df to keep the original data intact. I'm dropping the hashed_Entity column as it is not needed for visualizing – we want to focus on industries and not individual companies.

In [ ]:
df_vis = df_copy1
#drop the hashed entity column
df_vis.drop(columns={'hashed_Entity'}, inplace=True)
df_vis

Checking if the Year column is well formatted (should be a year like 2016, or 2019, not 2016-2019). If not, we'll need to do some data cleaning.

In [ ]:
#Check if any value in the year column is null
print("Null values: ", df_vis['Year'].isnull().values.any())  # there are no null values in the year column

#Check if any value in the year column is not well formatted (i.e. not a number)
print("Non numeric values: ", df_vis['Year'].str.isnumeric().values.any())  # there are values that are not numeric

#print out all the values in the year column that are not numeric
print("Non numeric values:")
df_vis[~df_vis['Year'].str.isnumeric()]

There are 3 values in the Year column that are not well formed – we also will need to fix the Records column for similar formatting issues.

In [ ]:
'''
Modify df_vis:
for each value in the year column that is not numeric:
    record the last year listed in the year column (i.e. the last 4 characters)
    record the first year listed in the year column (i.e. the first 4 characters)
change the year column of this entry to the first 4 characters (the first year)
for each year between the first year and the last year:
    add a new entry to the dataframe with the same values as the entry that was changed, except for the year column, which will be the year in question
'''
last_row_index = df_vis.tail(1).index[0]
# Create an empty list to store modified rows
new_rows = []

# Iterate through the DataFrame
for index, row in df_vis.iterrows():
    year_value = row['Year']
    
    # Check if the year is not numeric
    if not year_value.isnumeric():
        # Extract the first and last year
        first_year = int(year_value[:4])
        last_year = int(year_value[-4:])

        # Change the year column to the first year
        df_vis.loc[index, 'Year'] = str(first_year)
        
        #Create new rows for each year between the first and last year
        for year in range(first_year + 1, last_year + 1):
            last_row_index+=1 # Increment the index of the last row
            new_row = row.copy()  # Create a copy of the current row
            new_row['Year'] = str(year)
            new_row['Index'] = last_row_index
            new_rows.append(new_row) # Append the new row to the list

# Concatenate the new rows with the original DataFrame
new_rows_df = pd.DataFrame(new_rows)

df_vis = pd.concat([df_vis, new_rows_df], ignore_index=True)


df_vis

The Year's column is fixed, but I suspect this approach may be exaggerating the number of breaches in 2019.
Instead, I will fix the Records column, and then split (divide?) the number of records by the number of years the breach lasted.

In [ ]:
df_copy1['Organization type'].unique()

In [ ]:
le = LabelEncoder()

# implement label encoding on the Organization type column
le.fit(df_copy1['Organization type'])   # fit the data we want to train the encoder on
df_copy1['Organization type'] = le.transform(df_copy1['Organization type'])
# observe how the column 'Organization Type' has changed
df_copy1.head()

In [ ]:
df_copy1.dtypes   # as we can see, the Organization type changed from Object --> integer datatype

In [ ]:
# observe the label frequency, to gain an understanding of outliers and inlier values
df_copy1['Organization type'].value_counts()    # some values to note: 7 repeats 13 times, 18 repeats 38  times, 23 repeats 12 times, 25 repeats 30 times, 30 repeats 47 times, 49 repeats 27 times.

In [ ]:
df_copy1['Method']

In [ ]:
df_copy1['Method'].unique()

In [ ]:
""# seems like the method column contains certain NaN values and certain Unknown values, we will need to determine whether we replace such values or drop them in its entirety
df_copy1['Method'].value_counts()

In [ ]:
"""Two changes needs to be made regarding the method column
    1. Replace the "Unknown" value with the most frequently repeated word
    2. Drop any NaN values if it exists
"""

most_frequent_word = df_copy1['Method'].value_counts().index[0]
#replace all occurences of "Unknown" with "Hacked"
df_copy1['Method'].replace('unknown', most_frequent_word, inplace=True)

# drop any NaN values
df_copy1.dropna(inplace=True)

# Print the dataframe
df_copy1

In [ ]:
# let's verify if the method column contains any nan/null values
df_copy1['Method'].isnull().all()   # seems that none of the values here contain any more null values

In [ ]:
print(list(df_copy1['Method'].unique()))   # based on the list, we can see that the Method column doesn't contain unknown anymore.
list(df_copy1['Method'].value_counts())   # we also gain insight into the frequency of the methods being repeated, there's 24 methods, therefore, the label encoding will range from 0-23

In [ ]:
# prior to implementing label encoding, we will need to clear up the string of some grammatical issues that will cause mismatched data when we train the model otherwise

# convert all uppercase letters to lowercase
df_copy1['Method'] = df_copy1['Method'].str.lower()

# replace all spaces with "_"
df_copy1['Method'] = df_copy1['Method'].str.replace(' ', '_')

# replace all slash signs with "_"
df_copy1['Method'] = df_copy1['Method'].str.replace('/', '_')

# replace all __ and ___ with _
df_copy1['Method'] = df_copy1['Method'].str.replace('___', '_')
df_copy1['Method'] = df_copy1['Method'].str.replace('__', '_')

# check the updated dataframe
list(df_copy1['Method'].unique())

In [ ]:
# now the method column is ready for label encoding preprocessing, since we already called on the label encoder previously, we can reuse it
le.fit(df_copy1['Method'])  # train the label encoder on the column data we want to train
df_copy1['Method'] = le.transform(df_copy1['Method'])
df_copy1   # observe that method has been successfully encoded by label

In [ ]:
# let's take a look at the minimum and maximum values
print('min:', min(df_copy1['Method']))
print('max:', max(df_copy1['Method']))  # the smallest value is represented using 0 and the largest value is represented using 22

In [ ]:
df_copy1['Method'].value_counts()  # judging by the values shown here, seems like 4 represents 'hacked'

In [ ]:
# Use the inverse_transform method if you need to decode the method back to the original text
original_text = le.inverse_transform([4])
original_text[0]

In [ ]:
df_copy1.dtypes  # reobserve the data, as we can see, the columns that are of object datatype needs to be changed

In [ ]:
object_to_numeric = ['Year', 'Records', 'hashed_Entity']
df_copy1[object_to_numeric] = df_copy1[object_to_numeric].apply(pd.to_numeric, errors="ignore", axis=1)   # we have successfully converted the dataframe from object to float, this ensures it's ready to be trained using machine learning model
df_copy1.dtypes

In [ ]:
df_copy1

In [ ]:
df_copy1.isnull().values.any()   # the entirety of the dataframe does not contain any null values.

In [ ]:
df.columns

Marks the end of the data preprcoessing.

In [ ]:
# using the original tabel where the name of the Entities as well as the hashed entities are together, using that we can create a lookup table in the form of a dictionary

dictionary = {}  # create a dictionary that maps the hashed company names to the original company names

for index, row in df.iterrows():
    hashed_company_name = row["hashed_Entity"]
    original_company_name = row["Entity"]
    dictionary[hashed_company_name] = original_company_name

In [ ]:
dictionary   # we have successfully created a dictionary that maps the hashed values to the name of the original companues

In [ ]:
# add a new column to the DataFrame that maps the hashed company names to the original company names
df_copy1["original_Entity"] = df["hashed_Entity"].apply(lambda x: dictionary[x])

In [ ]:
df_copy1

In [ ]:
# convert all uppercase letters to lowercase
df_vis['Method'] = df_vis['Method'].str.lower()

# replace all spaces with "_"
df_vis['Method'] = df_vis['Method'].str.replace(' ', '_')

# replace all slash signs with "_"
df_vis['Method'] = df_vis['Method'].str.replace('/', '_')

# replace all __ and ___ with _
df_vis['Method'] = df_vis['Method'].str.replace('___', '_')
df_vis['Method'] = df_vis['Method'].str.replace('__', '_')

# Checking the Records column

# Use the 'pd.to_numeric' function to check if the values in 'Records' can be converted to numbers
numeric_records = pd.to_numeric(df_vis['Records'], errors='coerce')

# Create a boolean mask where 'numeric_records' is NaN (indicating non-numeric values)
non_numeric_rows = df_vis[numeric_records.isna()]

# Print the rows where 'Records' contains non-numeric values
print(non_numeric_rows)

# Calculate the mean of 'Records' in year with NaN values
mean_records_2019 = df_vis[df_vis['Year'] == '2019']['Records'].mean()

df_vis.at[94, 'Records'] = mean_records_2019

# Create a boolean mask where 'numeric_records' is NaN (indicating non-numeric values)
non_numeric_rows = df_vis[numeric_records.isna()]

# Print the rows where 'Records' contains non-numeric values
print("After replacing NaN Records:")
print(non_numeric_rows)
#df_vis.head()

In [ ]:
plt.figure(figsize=(12, 6))

# Sort the data by count in descending order
order = df_vis['Organization type'].value_counts().index

sns.countplot(data=df_vis, x='Organization type', order=order)
plt.title('Count of Records by Organization Type')
plt.xlabel('Organization Type')
plt.ylabel('Count')
plt.xticks(rotation=90)
plt.show()

In [ ]:
plt.figure(figsize=(12, 6))

# Group the data by year and calculate the total records lost in each year
data_lost_by_year = df_vis.groupby('Year')['Records'].sum().reset_index()

# Create a line plot to visualize data loss over the years
sns.lineplot(data=data_lost_by_year, x='Year', y='Records')
plt.title('Data Loss Over the Years')
plt.xlabel('Year')
plt.ylabel('Total Records Lost')
plt.grid(True)
plt.show()